@font-face {
  font-family: "TT Lakes Regular";
  font-weight: normal;
  font-style: normal;
  src: url("source/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("source/fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("source/fonts/TTLakes-Regular.woff") format("woff"),
    url("source/fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("source/fonts/TTLakes-Medium.eot");
  src: url("source/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("source/fonts/TTLakes-Medium.woff") format("woff"),
    url("source/fonts/TLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  font-weight: normal;
  font-style: normal;
  src: url("source/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("source/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("source/fonts/TTLakes-Bold.woff") format("woff"),
    url("source/fonts/TTLakes-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  letter-spacing: -0.5px;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    10px 0px 52px rgba(14, 24, 80, 0.2);
  min-height: 100vh;
}
.header {
  padding-top: 18px;
}

.header__block-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__button-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.header__button-close {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("source/svg/burger_close.svg") no-repeat;
  margin-right: 17px;
}

.header__logo {
  height: 52px;
  width: 98px;
}

.header__button-search {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("source/svg/search.svg") no-repeat;
}

.header__button_margin {
  margin-right: 16px;
}

.navigition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.navigition__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
  min-height: 63vh;
}

.navigition__menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1b1c21;
  margin-bottom: 32px;
}

.navigition__menu-link:hover {
  opacity: 0.5;
  transition: 1s;
}

.navigition__menu-link_active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  left: 0;
  background: #41f6d7;
  border-radius: 0 50px 50px 0;
}

.footer__button-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__call-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("source/svg/call.svg");
}

.footer__chat-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("source/svg/chat.svg");
}

.footer__profile-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: url("source/svg/profile.svg");
}

.footer__button_margin {
  margin-right: 16px;
}

.footer__email {
  text-decoration: none;
  color: #1b1c21;
}

.footer__email:hover {
  opacity: 0.5;
  transition: 1s;
}

.footer__tel {
  text-decoration: none;
  color: #1b1c21;
  font-family: "TT Lakes Bold";
  font-size: 24px;
}

.footer__block-contact {
  margin-top: 16px;
}

.footer__change-lang {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.footer__change-lang-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.footer__change-lang-button:not(:last-of-type) {
  margin-right: 7px;
}

.footer__change-lang-button:hover {
  opacity: 0.5;
  transition: 1s;
}
