@font-face {
  font-family: "TT Lakes Regular";
  font-weight: normal;
  font-style: normal;
  src: url("source/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("source/fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("source/fonts/TTLakes-Regular.woff") format("woff"),
    url("source/fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TT Lakes Medium";
  src: url("source/fonts/TTLakes-Medium.eot");
  src: url("source/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("source/fonts/TTLakes-Medium.woff") format("woff"),
    url("source/fonts/TLakes-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  font-weight: normal;
  font-style: normal;
  src: url("source/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("source/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("source/fonts/TTLakes-Bold.woff") format("woff"),
    url("source/fonts/TTLakes-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body,
button {
  background: #f8f8f8;
  font-family: "TT Lakes Regular";
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .content-page__block-image {
    display: flex;
    align-items: flex-end;
    background-image: url("source/image/CPS_logo_photo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60%;
    height: 360px;
    margin-left: 40px;
  }

  .content-page__content-block {
    display: flex;
  }
  .content-page__block-text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 50%;
  }

  .content-page__block-text-p2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
  }

  .menu__action-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    margin-left: auto;
  }

  .content-page__button-block {
    display: none;
  }
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .menu {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu__button_hidden,
  .content-page__button-block,
  .menu__divider_hidden,
  .content-page__block-text-p2 {
    display: none;
  }

  .content-page__block-image {
    background-image: url("source/image/CPS_logo_photo.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 16px;
  }

  .content-page__block-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  .container {
    margin-right: 16px;
    margin-left: 16px;
  }

  .menu__action-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 1120px) {
  .container {
    max-width: 1120px;
    margin: auto;
    padding: 0 32px;
  }

  .container__button {
    max-width: 1120px;
    margin: auto;
    padding-left: 42px;
  }

  .content-page__title::before {
    content: "";
    position: relative;
    width: 4px;
    height: 40px;
    background: #41f6d7;
    margin-right: 16px;
    border-radius: 0 50px 50px 0;
    left: 0px;
  }

  .menu__divider,
  .menu__logo,
  .menu {
    display: none;
  }

  .content-page__button-margin {
    display: flex;
    align-items: center;
    margin-right: 32px;
  }

  .content-page__button-block {
    display: flex;
    align-items: center;
  }

  .content-page__button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .content-page__button-text {
    margin-right: 8px;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .content-page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
  }

  .content-page__section-button {
    margin-top: 10px;
  }

  .content-page__block-text-p2 {
    margin-top: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

@media only screen and (max-width: 1119px) {
  .header {
    background-color: white;
    border-bottom: 1px solid #d9fff5;
  }

  .content-page__title {
    margin-top: 24px;
  }

  .content-page__title::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background: #41f6d7;
    margin-right: 16px;
    border-radius: 0 50px 50px 0;
    left: 0px;
  }

  .content-page__section-button {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #7e7e82;
    overflow-x: scroll;
    padding-bottom: 24px;
    margin-bottom: -20px;
    margin-left: 24px;
    -webkit-overflow-scrolling: touch;
  }

  .content-page__menu-button-gradient {
    position: absolute;
    height: 40px;
    width: 24px;
    z-index: 5;
    right: 0;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

/**---------------шапка------------------**/

.menu__left-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu__action-button-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.menu__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.menu__button-size {
  width: 40px;
  height: 40px;
}

.menu__button_margin {
  margin-right: 16px;
}

.menu__divider {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  margin-right: 20px;
}

.menu__logo {
  height: 52px;
  width: 98px;
}

/**---------------навигация------------------**/

.content-page__title {
  display: flex;
  font-size: 28px;
  font-family: "TT Lakes Bold";
  align-items: center;
}

.content-page__menu-button {
  appearance: none;
  border: 2px solid #f8f8f8;
  font-family: TT Lakes Regular;
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 20px;
  color: #7e7e82;
  background-color: #f8f8f8;
  margin-top: 8px;
}

.content-page__menu-button:hover {
  border: 2px solid #41f6d7;
  background-color: white;
}

.content-page__section-button_overflow-hidden {
  overflow-x: hidden;
  margin-bottom: 24px;
}

/**---------------основная------------------**/

.block-text__button-text {
  margin-top: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: TT Lakes Medium;
}

.block-text__button-svg {
  margin-top: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 16px;
}
